//
// variables.objects.scss
//

// Color system

$grays: map-merge($grays, ("gray-50": $gray-50));


// Spacing

$spacers: map-merge($spacers, (
  0: 0,
  1: $spacer * .125, // 2px
  2: $spacer * .25, // 4px
  3: $spacer * .5, // 8px
  4: $spacer * .75, // 12px
  5: $spacer * 1, // 16px
  6: $spacer * 1.25, // 20px
  7: $spacer * 1.5, // 24px
  8: $spacer * 1.75, // 28px
  9: $spacer * 2, // 32px
  10: $spacer * 2.5, // 40px
  11: $spacer * 3, // 48px
  12: $spacer * 3.5, //56px
  13: $spacer * 4, // 64px
  14: $spacer * 4.5, // 72px
  15: $spacer * 5, // 80px
  16: $spacer * 5.5, // 88px
  17: $spacer * 6, // 96px
  18: $spacer * 6.5, // 104px
  19: $spacer * 7, // 112px
  20: $spacer * 7.5, // 120px
  21: $spacer * 8, // 128px
  22: $spacer * 8.5, // 136px
  23: $spacer * 9, // 144px
  24: $spacer * 9.5, // 152px
  25: $spacer * 10, // 160px
  26: $spacer * 11, // 176px
  27: $spacer * 12, // 192px
  28: $spacer * 13, // 208px
  29: $spacer * 14, // 224px
  30: $spacer * 15 // 240px
));


// Typography

$font-sizes: map-merge($font-sizes, (
  body: $font-size-base,
  sm: $font-size-sm,
  lg: $font-size-lg,
));